name: onepage
description: About One-page-only diary app
publish_to: none
version: 1.0.0+2

environment:
  sdk: ^3.6.0

dependencies:
  altfire_configurator: ^1.0.0
  altfire_tracker: ^0.1.5
  # Because flutter_test depends on clock 1.1.1.
  clock: ^1.1.1
  # Because flutter_test depends on collection 1.18.0.
  collection: ^1.18.0
  custom_lint: ^0.7.0
  db_client:
    path: ../core/db_client/
  diary:
    path: ../features/diary/
  firebase_core: ^3.8.1
  flutter:
    sdk: flutter
  flutter_hooks: ^0.20.5
  freezed_annotation: ^2.4.4
  gap: ^3.0.1
  go_router: ^14.6.2
  hooks_riverpod: ^2.6.1
  i18n:
    path: ../core/i18n/
  json_annotation: ^4.9.0
  package_info_plus: ^8.1.1
  provider_utils:
    path: ../core/provider_utils/
  riverpod_annotation: ^2.6.1
  scroll_calendar:
    path: ../features/scroll_calendar/
  theme:
    path: ../core/theme/
  update_requester:
    path: ../features/update_requester/
  url_launcher: ^6.3.1
  utils:
    path: ../core/utils/
  widgets:
    path: ../core/widgets/

dev_dependencies:
  altive_lints: ^1.16.0
  build_runner: ^2.4.13
  flutter_gen_runner: ^5.8.0
  flutter_launcher_icons: ^0.14.2
  flutter_native_splash: ^2.4.3
  flutter_test:
    sdk: flutter
  freezed: ^2.5.7
  go_router_builder: ^2.7.1
  json_serializable: ^6.9.0
  riverpod_generator: ^2.6.3
  riverpod_lint: ^2.6.3

flutter_gen:
  enabled: true
  output: lib/gen/
  line_length: 80
  integrations:
    flutter_svg: true
    flare_flutter: false
    rive: false
    lottie: false
  assets:
    outputs:
      style: dot-delimiter

flutter:
  uses-material-design: true

  assets:
    - assets/
