name: onepage
description: About One-page-only diary app
publish_to: none
version: 1.9.0+17

environment:
  sdk: ^3.10.0

resolution: workspace

dependencies:
  app_settings: ^6.1.1
  backup:
    path: ../features/backup/
  clock: ^1.1.2
  collection: ^1.19.1
  configurator:
    path: ../core/configurator/
  db_client:
    path: ../core/db_client/
  diary:
    path: ../features/diary/
  exporter:
    path: ../features/exporter/
  firebase_core: ^4.2.1
  flutter:
    sdk: flutter
  flutter_hooks: ^0.21.3+1
  gap: ^3.0.1
  go_router: ^17.0.0
  haptics:
    path: ../features/haptics/
  hooks_riverpod: ^3.0.3
  i18n:
    path: ../core/i18n/
  in_app_reviewer:
    path: ../features/in_app_reviewer/
  # Because flutter depends on intl 0.20.2.
  # https://github.com/flutter/flutter/blob/stable/packages/flutter/pubspec.yaml#L42
  intl: ^0.20.2
  notification_client:
    path: ../core/notification_client/
  prefs_client:
    path: ../core/prefs_client/
  provider_utils:
    path: ../core/provider_utils/
  riverpod_annotation: ^3.0.3
  scroll_calendar:
    path: ../features/scroll_calendar/
  share_plus: ^12.0.1
  theme:
    path: ../core/theme/
  tracker:
    path: ../core/tracker/
  update_requester:
    path: ../features/update_requester/
  url_launcher: ^6.3.2
  utils:
    path: ../core/utils/
  visibility_detector: ^0.4.0+2
  widgets:
    path: ../core/widgets/

dev_dependencies:
  altive_lints: ^1.25.0
  build_runner: ^2.10.3
  custom_lint: ^0.8.1
  flutter_gen_runner: ^5.12.0
  flutter_launcher_icons: ^0.14.4
  flutter_native_splash: ^2.4.7
  flutter_test:
    sdk: flutter
  go_router_builder: ^4.1.1
  mockito: ^5.5.1
  package_info_plus: ^9.0.0
  riverpod_generator: ^3.0.3
  riverpod_lint: ^3.0.3

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/images/
